:root {
    --primaryColor: #ff1ea1;
    --SecondaryColor: #ff6ac1;
    --gradientColor: linear-gradient(#ffb0de, #ce0178);
    --whiteColor: #ffffff;
    --blackColor: #292929;
    --textColor: #757575;
    --whiteColorDream: #e2e2e2;
    --greyText: #adadad;
    --inputColor: #fff4f4;
    --bodyColor: #fffefe;
    --cardBG: #fff9f9;
}

.main {
    width: 100%;

    .secTitle{
        .title{
            position:relative;
            width:max-content;
            align-items: center;
            color:var(--textColor);
            margin:1.5rem 0;
            padding-left: 1rem;
            z-index: 2;

            &::after{
                position:absolute;
                content:'';
                background:var(--SecondaryColor);
                height:5px;
                width:120px;
                right:0;
                bottom: 5px;
                z-index:-1;
            }
        }
    }

    .secContent {
        justify-content: center;
        gap: 1.5rem;
        padding: 1.5rem;

        .singleDestination{
            height: 100%;
            display: grid;
            row-gap: 10px;
            padding: 1rem;
            border-radius: 10px;
            align-items:center;
            background: var(--cardBG);
            box-shadow:0 2px 4px rgb(142, 140, 140);
            overflow: hidden;

            &hover{
                background: grey;
                box-shadow: 1 4px 4px rgb(150, 140, 140);
                transition: .3s ease;
            }

            .imageDiv{
                height:180px;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit:cover;
                    transition: 2s ease;
                }

                &:hover {
                    img{
                        transform: scale(1.1);
                    }
                }
            }

            .cardInfo {
                padding: 1rem;

                .destTitle{
                    color:var(--blackColor);
                    font-size: 1.25rem;
                }

                .continent{
                    gap:.5rem;

                    .icon{
                        color: var(--textColor);
                        font-size: 18px;
                    }

                    .name {
                        color:var(--textColor);
                        font-weight:400;
                        font-size:14px;
                    }
                }

                .fees{
                    width:100%;
                    justify-content: space-between;
                    padding:1rem;
                    margin:1rem 0;
                    border-top: 1.5px solid var(--greyText);
                    border-bottom: 1.5px solid var(--greyText);

                    .grade{
                        color:var(--textColor);
                        max-width:100px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        small{
                            text-align: center;
                            background: var(--gradientColor);
                            border-radius:1rem;
                            color: var(--whiteColor);
                            padding: 1px 10px;
                            font-size:10px;
                        }

                    }

                    .price {
                        font-size: 2rem;
                        color:var(--blackColor)
                    }
                }

                .desc {
                    font-size:13.5px;
                    color: var(--textColor);
                    font-weight: 500;
                }

                .btn{
                    margin-top:1rem;
                    color: var(--whiteColor);
                    font-weight: 600;
                    justify-content: space-between;
                    gap: .5rem;

                    .icon {
                        align-items: center;
                        font-size:18px;
                    }
                }

            }
        }
    }
}